.correct_answer_button {
    width: 20px;
    height: 20px;
    background-color: transparent;
}

.correct_answer_button_clicked {
    width: 20px;
    height: 20px;
    background-color: red;
}
