*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Raleway", sans-serif;

    color: #e0e1e6;
    font-size: 20px;
    -webkit-text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.37);
    -moz-text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.37);
    text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.37);
}

.background {
    background-color: #141414;
}

.app {
    height: 100vh;
    text-align: center;
}

.nav_container {
    display: flex;
    justify-content: center;
}

nav {
    font-size: 20px;
    text-align: right;
    padding: 15px;
    width: 70vw;
}
